# flask related libs
Flask
Flask-PyMongo 
pytest
pytest-cov
pytest-html
mongomock
python-dotenv
Flask-Session
pytest-mock
gunicorn
openai==0.27
requests
Flask-Dance
pdfkit
WeasyPrint
matplotlib
jdatetime
python-dateutil>=2.8.0
flask-mail
itsdangerous>=2.1.2
