/********** Template CSS **********/
:root {
    --primary: #88B44E;
    --secondary: #FB9F38;
    --light: #F5F8F2;
    --dark: #252C30;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #ffffff;
    direction: rtl;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    text-align: right;
    margin: 0;
    padding: 0;
}

body>*:not(.footer) {
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Open Sans', sans-serif;
}

input,
textarea {
    font-family: 'Open Sans', sans-serif;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}

/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    font-weight: bold;
    font-size: 17px;
    color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar .navbar-brand {
    position: absolute;
    padding: 0;
    width: 170px;
    height: 135px;
    top: 0;
    left: 0;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand {
        width: 126px;
        height: 100px;
    }

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 75px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: none !important;
    z-index: 1;
}

.carousel-item img {
    filter: none !important;
    background-color: transparent !important;
    opacity: 1 !important;
}

.page-header {
    background: linear-gradient(rgba(136, 180, 78, .7), rgba(136, 180, 78, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

/** About us **/
/*** Section Title ***/
.section-title {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    bottom: -13px;
    left: 50%;
    background: var(--dark);
    border: 10px solid #FFFFFF;
    border-radius: 28px;
}

.section-title.text-center::before {
    left: 25%;
}

.section-title.text-center::after {
    left: calc(50% - 13px);
}


/*** About ***/
.video {
    background: linear-gradient(rgba(136, 180, 78, .85), rgba(136, 180, 78, .85)), url(../img/video-bg.jpg) center center no-repeat;
    background-size: cover;
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 65px;
    height: 75px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 28px 30px 30px 38px;
    background: #FFFFFF;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: 13px;
    border-left: 40px solid var(--primary);
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}

/*** Contact ***/
.contact .btn-square {
    width: 100px;
    height: 100px;
    border: 20px solid var(--light);
    background: var(--primary);
    border-radius: 50px;
}

/*** Footer ***/
.footer {
    color: #B0B9AE;
}

.footer .btn.btn-link {
    display: block;
    padding: 0;
    text-align: left;
    color: #B0B9AE;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.form-floating label {
    right: 0;
    left: auto;
}

.form-control {
    text-align: right;
}

.navbar-brand img {
    max-height: 85px;
    max-width: 230px;
    background: none !important;
    margin: 0 auto;
    margin-left: 75px;
    box-shadow: none !important;
    display: block;
    border: none;
    padding: 7px;
    height: 190px;
}

.carousel-inner img {
    max-height: 570px;
    object-fit: cover;
    width: 100%;
}

.carousel-caption h1 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-style: italic;
    color: #f8f9fa;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.carousel-caption .btn {
    font-size: 21px;
    font-weight: bold;
}

.carousel-caption .btn:hover {
    background-color: #8fb23e;
    color: #fff;
}

#signature {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30, end);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from {
        border-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-color: transparent;
    }
}

.button-custom {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    margin-right: 0;
    width: 150px;
    text-align: center;
}

.button-custom:last-child {
    margin-right: 15px;
}

.col-lg-3 .text-primary {
    margin-bottom: 0.5rem;
    margin-left: 10px;
    text-align: right;
}

.col-lg-3 .btn-link {
    display: inline-block;
    margin-bottom: 0.5rem;
    text-align: right;
    color: var(--primary);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.col-lg-3 .btn-link:hover {
    color: var(--light);
}

.page-header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 5rem;
}

.modal-header .custom-close {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 1051;
}

.modal-header .modal-title {
    margin-right: auto;
    margin-left: 0;
    text-align: right;
    flex-grow: 1;
}

.button-circle {
    background-color: #8fb23e;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.button-circle img {
    width: 28px;
    height: 28px;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 50%;
    text-align: right;
    border: none;
    box-shadow: none;
}

.plot-circle {
    background-color: none;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.plot-circle img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: none;
    margin: 0;
}

.plot-name {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: #8fb23e;
    margin-top: 10px;
}

.plot-container {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15px;
}

#plotsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
}

.toggle-button {
    background-color: #c6c6c6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle-circle {
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.toggle-button.active {
    background-color: #8fb23e;
}

.toggle-button.active .toggle-circle {
    transform: translateX(-40px);
}

.single-view {
    display: none;
}

#plotDetails p strong {
    font-size: 22px;
    font-weight: bold;
}

#plotDetails p span {
    font-size: 18px;
    font-weight: normal;
}

.d-flex {
    justify-content: center;
    gap: 30px;
}

span.me-2 {
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 20px;
    display: inline-block;
}

.section-divider {
    border: none;
    border-top: 3px solid #8fb23e;
    margin-top: 10px;
    margin-bottom: 20px;
}

.secondary-navbar {
    margin-top: 20px;
    z-index: 999;
}

.list-container {
    list-style: none;
    padding: 0;
}

.list-item {
    margin-bottom: 30px;
    font-size: 20px;
}

.notification-modal {
    max-height: 300px;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    overflow-y: auto;
    transform: translateX(-20%);
}

.notification-item {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
}


/* alert */
.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

/* כותרת האלרט */
.alert-box .alert-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: var(--primary);
}

/* טקסט ההודעה */
.alert-box .alert-message {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* כפתור סגירה */
.alert-box .alert-close {
    background-color: var(--primary);
    color: var(--light);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    background-color: #8fb23e;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -55%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .section-title h2 {
    color: var(--accent-color);
    font-size: 30px;
    font-weight: 700;
}

.services .content .service-item {
    background-color: var(--surface-color);
    padding: 20px 30px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    border-left: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    position: relative;
}

.services .content .service-item .number {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 400;
    color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.services .content .service-item .service-item-icon {
    position: relative;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.services .content .service-item .service-item-icon img {
    width: 90px;
}


.services .content .service-item .service-item-icon:before {
    position: absolute;
    content: "";
    transform: rotate(45deg);
    z-index: -1;
    left: -20px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid var(--accent-color);
    display: none;
}

.services .content .service-item .service-item-icon>span {
    color: var(--default-color);
    font-size: 4rem;
}

.services .content .service-item .service-item-content .service-heading {
    font-size: 20px;
    color: var(--default-color);
    font-weight: 400;
}

.services .content .service-item .service-item-content p {
    font-size: 15px;
}

@media (min-width: 769px) {
    .services .content [class^=col-]:nth-child(4n+4) .service-item {
        border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    }

    .services .content [class^=col-]:nth-last-child(-n+4) .service-item {
        border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    }
}

@media (max-width: 768px) {
    .services .content [class^=col-]:nth-child(2n+2) .service-item {
        border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    }

    .services .content [class^=col-]:last-child .service-item,
    .services .content [class^=col-]:nth-last-child(2) .service-item {
        border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    }
}

@media (max-width: 576px) {
    .services .content [class^=col-] .service-item {
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        margin-bottom: 10px;
    }
}

/*--------------------------------------------------------------
# About 3 Section
--------------------------------------------------------------*/
.about-3 .content-title {
    color: var(--accent-color);
    margin-bottom: 30px;
}

.about-3 .btn-cta {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--accent-color);
    color: var(--contrast-color);
    border-radius: 6px;
}

.about-3 .list-check {
    margin-bottom: 50px;
}

.about-3 .list-check li {
    display: block;
    padding-left: 30px;
    position: relative;
}

.about-3 .list-check li:before {
    content: "\f26e";
    display: inline-block;
    font-family: "bootstrap-icons" !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    top: 0.1rem;
    font-size: 20px;
    left: 0;
    color: var(--accent-color);
}

.about-3 .pulsating-play-btn {
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
}

/*--------------------------------------------------------------
# Services 2 Section
--------------------------------------------------------------*/
.services-2 {
    overflow: visible;
    margin-bottom: 200px;
}

.services-2 .section-title {
    text-align: left;
}

.services-2 .section-title h2 {
    color: color-mix(in srgb, var(--contrast-color), transparent 50%);
    text-transform: uppercase;
    font-size: 20px;
}

.services-2 .section-title p {
    color: var(--contrast-color);
}

.services-2 .services-carousel-wrap {
    position: relative;
    margin-bottom: -200px;
}

.services-2 .swiper-wrapper {
    height: auto;
}

.services-2 .service-item {
    position: relative;
    overflow: hidden;
}

.services-2 .service-item:before {
    content: "";
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: 0.3s all ease;
}

.services-2 .service-item img {
    transition: 0.5s all ease;
    transform: scale(1);
}

.services-2 .service-item .service-item-contents {
    z-index: 9;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    transition: 0.3s all ease;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
}

.services-2 .service-item .service-item-contents .service-item-category {
    color: var(--accent-color);
    text-transform: uppercase;
}

.services-2 .service-item .service-item-contents .service-item-title {
    color: var(--contrast-color);
    margin-bottom: 0;
}

.services-2 .service-item:hover:before {
    opacity: 1;
    visibility: visible;
}

.services-2 .service-item:hover .service-item-contents {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

.services-2 .service-item:hover img {
    transform: scale(1.2);
}

.services-2 .navigation-prev,
.services-2 .navigation-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 46px;
    height: 46px;
    background: var(--contrast-color);
    background-color: none;
    border: none;
    transition: 0.3s all ease;
}

.services-2 .navigation-prev i,
.services-2 .navigation-next i {
    font-size: 2rem;
}

.services-2 .navigation-prev:hover,
.services-2 .navigation-next:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.services-2 .navigation-prev {
    left: 10px;
}

.services-2 .navigation-next {
    right: 10px;
}

.services-2 .swiper {
    padding-bottom: 50px;
}

.services-2 .swiper-pagination {
    bottom: 0px;
}

.services-2 .swiper-pagination .swiper-pagination-bullet {
    border-radius: 0;
    width: 20px;
    height: 4px;
    background-color: color-mix(in srgb, var(--background-color), transparent 80%) !important;
    opacity: 1;
}

.services-2 .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--accent-color) !important;
}

.about-3 .large-text {
    font-size: 16px;
    line-height: 1.8;
}

.team .large-text {
    font-size: 16px;
    line-height: 1.8;
}

.team {
    direction: ltr;
}

#weather-info {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333;
}


#weather-info-short {
    font-size: 16px;
    font-weight: 600;
    color: #2a7a2e;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #8fb23e;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
    margin-left: 200px;
}

#weather-info-short i {
    color: #ffcc00;
}

#detailedWeatherModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    justify-content: center;
    align-items: center;
}

.page-title {
    color: var(--default-color);
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    text-align: center;
    position: relative;
}

.page-title:before {
    content: "";
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    position: absolute;
    inset: 0;
}

.page-title h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.page-title .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
    padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
}


.notification-icon {
    position: relative;
}

.notification-icon .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    display: none;
}

.container .row>[class*="col-"] {
    padding: 0 !important;
    margin: 0;
}

.move-buttons-lower {
    margin-top: 150px;
}

.service-item-icon {
    margin-bottom: 20px;
}

.row .col-3 {
    padding: 20px;
}

/* all tasks*/

.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.table-container {
    margin: 30px auto;
    max-width: 90%;
    overflow: hidden;
    border-radius: 5px;
}

.table {
    font-size: 17px;
    text-align: center;
}

th,
td {
    padding: 5px;
}

th:first-child,
td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

th:last-child,
td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* home pages */
/* אזור התוכן המרכזי */
.main-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

/* מיכל לעיגולים/עלים */
.leaf-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
}

/* עיצוב העלה */
.leaf {
    width: 170px;
    height: 170px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.leaf img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.leaf:hover img {
    transform: scale(1.1);
}

/* טקסט תחת העלה */
.leaf span {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #8fb23e;
    margin-top: 2px;
    font-family: 'Open Sans', sans-serif;

}

/* הנפשה בעת לחיצה */
.leaf:active img {
    transform: scale(0.7) rotate(15deg);
    transition: transform 0.2s ease-out;
}

/* my team */
.btn-detail,
.btn-task,
.btn-success {
    background-color: #8fb23e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
    width: 100px;
    height: 45px;
    font-weight: bold;
}

.btn-done {
    background-color: #8fb23e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
    width: 120px;
    height: 45px;
    font-weight: bold;
}

.btn-details {
    background-color: #8fb23e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
    height: 50px;
}

.btn-details:hover,
.btn-task:hover,
.btn-delete:hover,
.alert-box .alert-close:hover,
.irrigationModal .btn-primary:hover,
.archive .btn-secondary:hover,
.archive .btn-success:hover,
.grow .btn-secondary:hover,
.btn-primary:hover,
#modal-actions .btn-danger:hover,
.btn-danger:hover,
#modal-actions .btn-success:hover,
.btn-detail:hover,
.btn-success:hover,
.btn-change:hover,
.btn-done:hover,
.button-circle:hover {
    background-color: var(--secondary);
}

.btn-delete {
    background-color: #E53935;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
    width: 100px;
    height: 45px;
    font-weight: bold;
}

#modal-actions .btn-danger,
.btn-danger {
    background-color: #E53935;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
    width: 100px;
    height: 45px;
    font-weight: bold;
}

.btn-change {
    background-color: #E53935;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
    width: 120px;
    height: 45px;
    font-weight: bold;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    text-align: right;
}

.employee-table th,
.employee-table td {
    padding: 10px 20px;
    text-align: right;
}

.employee-table th {
    font-size: 25px;
    font-weight: bold;
}

.employee-table td {
    font-size: 20px;
}

.ms-3 {
    margin-left: 13px;
}

/* עיצוב כפתורים */
#modal-actions .btn {
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#modal-actions .btn-success {
    background-color: #8fb23e;
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

#modal-actions .btn-lg {
    font-size: 18px;
    padding: 10px 25px;
}

#taskModal {
    display: none;
    position: fixed;
    z-index: 600;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

#taskModalContent {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    text-align: right;
}

/* עיצוב מודל */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1050;
    justify-content: center;
    align-items: center;
}

/* login */
/* עיצוב ייחודי למודל הכניסה */
.modal-login .modal-dialog {
    top: 100px;
    width: 850px;
    height: 200px;
    max-width: 100%;
}

/* plot detalis */
.irrigationModal .modal-dialog {
    width: 400px;
    height: 300px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: none;
}

.irrigationModal .modal-content {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
}

.irrigationModal .modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* הגדלת תיבת הטקסט */
.irrigationModal .form-control {
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.irrigationModal .btn-primary {
    font-size: 1.1rem;
    font-weight: bold;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    border: none;
}

.grow .modal-dialog {
    width: 650px;
    height: 400px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.grow .modal-body {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    text-align: right;
    direction: rtl;
    word-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.3;
    box-sizing: border-box;
    flex-grow: 1;
}

.grow .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grow .modal-header,
.grow .modal-footer {
    flex-shrink: 0;
}

.grow .btn-secondary {
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: #818181;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
}

.archive .modal-dialog {
    width: 600px;
    height: 300px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: none;
}

.archive .modal-content {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
}

.archive .modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.archive .modal-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.archive .btn {
    height: 50px;
    padding: 0 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

.archive .btn-success {
    background-color: #8fb23e;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.archive .btn-secondary {
    background-color: #818181;
    color: white;
    border: none;
    transition: background-color 0.3s ease;

}

/* profile */
.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
}

.form-control[readonly] {
    text-align: right;
    background-color: #e9ecef;
}

.plots .modal-dialog {
    width: 450px;
    height: 600px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: none;
}

.plots .modal-body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: right;
    direction: rtl;
    word-wrap: break-word;
    box-sizing: border-box;
    flex-grow: 1;
}

.plots .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.select-plot .modal-dialog {
    width: 350px;
    height: 220px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: none;
}

.select-plot .modal-body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    direction: rtl;
    word-wrap: break-word;
    box-sizing: border-box;
    flex-grow: 1;
}

.select-plot .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#singleView {
    display: none;
}

.update-crop .modal-dialog {
    width: 450px;
    height: 510px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: none;
}

.update-crop .modal-body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: right;
    direction: rtl;
    word-wrap: break-word;
    box-sizing: border-box;
    flex-grow: 1;
}

.update-crop .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* קונטיינר עבור פרטי החלקה */
#plotDetailsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    position: relative;
}

/* פרטי החלקה */
#plotDetails {
    flex-grow: 1;
    text-align: center;
}

/* עיצוב כפתורים */
button.btn-light {
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
}

#prevButton {
    right: 0px;
    transform: translateX(-600%);

}

#nextButton {
    left: 300px;
    transform: translateY(-650%);

}

/* עיצוב אייקונים בתוך הכפתורים */
button.btn-light i {
    font-size: 20px;
}

button.btn-light:hover {
    background-color: #8fb23e;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

/* הפוטר נדבק לתחתית */
.container-fluid.footer {
    margin-top: auto;
    /* מבטיח שהפוטר תמיד יהיה בתחתית */
    background-color: #333;
    /* צבע רקע לפוטר */
    color: #fff;
    /* צבע טקסט בפוטר */
    padding: 20px 0;
}


@media (min-width: 577px) {

    .mobile-buttons,
    .description-container {
        display: none;
        /* הסתרת האלמנטים ב-Web */
    }
}

@media (max-width: 576px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem;
    }

    .desktop-buttons {
        display: none;
    }

    .container-fluid.footer .container {
        text-align: center;
        margin-top: auto;
        color: #fff;
    }

    .container-fluid.footer h4 {
        margin: 0 auto;
        display: inline-block;
    }

    .menu-text {
        font-size: 14px;
        font-weight: bold;
        color: #252C30;
    }

    .mobile-buttons {
        display: flex;
        justify-content: center;
        margin-top: 0 !important;
        gap: 15px;
    }

    .mobile-buttons a {
        font-size: 1.2rem;
        padding: 10px 10px;
        text-align: center;
        border-radius: 50px;
        border-color: #8fb23e;
        background-color: #ffffff;
        color: #000;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .mobile-buttons a:hover {
        background-color: #8fb23e;
        color: white;
    }

    .carousel-caption h1 {
        font-size: 2.2rem;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }

    .carousel-caption p {
        font-size: 1.8rem;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }

    .button-custom {
        width: 120px;
        height: 47px;
        padding: 3px;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .navbar-brand img {
        width: 150px;
        height: 73px;
    }

    .navbar-collapse {
        padding: 0 !important;
        margin: 0 !important;
    }

    .navbar {
        margin-bottom: 0 !important;
    }

    .navbar-toggler {
        padding: 7px 3px !important;
        margin: 0 !important;
    }


    .navbar-nav .nav-link {
        font-size: 14px;
        padding: 5px 0 !important;
    }

    /* התכנסות אלמנטים */
    .row {
        flex-direction: column;
        text-align: center;
    }

    /* התאמת כפתור "Back to Top" */
    .back-to-top {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 20px;
    }

    /* עיצוב מודל */
    .modal-dialog {
        width: 95%;
        max-width: 500px;
    }

    .description-container {
        display: block;
        text-align: center;
        margin-top: 50px;
        padding: 0 15px;
    }

    .description-container p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .description-container ul {
        list-style-type: disc;
        padding-right: 20px;
    }

    .description-container ul li {
        text-align: right;
        font-size: 1rem;
    }

    .modal-login .modal-dialog {
        max-width: 100%;
        margin: 20px auto;
    }

    .modal-login .modal-content {
        padding: 15px;
        border-radius: 10px;
    }

    .modal-login .modal-header {
        font-size: 1.2rem;
        text-align: center;
    }

    .modal-login .modal-body {
        font-size: 1rem;
    }

    .modal-login .btn {
        font-size: 1rem;
        padding: 10px 15px;
    }

    .page-header {
        margin-top: 10px;
    }

    .page-header h1 {
        font-size: 2.8rem;
        font-weight: bold;
    }

    .page-header .container {
        text-align: center;
        height: 70px;
    }

    .container-xxl,
    .container {
        max-width: 576px;
        margin: 0 auto;
    }

    .form-floating {
        margin-bottom: 8px;
    }

    .form-floating label {
        font-size: 1.3rem;
    }

    .form-control {
        font-size: 1.1rem;
        padding: 8px 12px;
    }

    .btn {
        font-size: 1.5rem;
        padding: 10px 15px;
    }

    /* שדה התפקיד */
    select.form-control {
        font-size: 1.1rem;
        padding: 10px;
    }

    /* שדה אימייל מנהל */
    #manager_email_field,
    #location_field {
        margin-top: 10px;
    }

}