<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>GrowWise</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS של Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="logout-icon" style="display: inline-block;">
                        <a href="#" onclick="logout(); return false;">
                            <img src="/static/img/logodoor.png" alt="Logout" height="30" width="30">
                        </a>
                    </div>
                    <div class="notification-icon" style="position: relative; display: inline-block;">
                        <img id="notificationIcon" src="/static/img/Notifications.png" alt="Notification Icon"
                            height="30" width="30" onclick="toggleNotifications()" style="cursor: pointer;">
                        <div class="notification-badge" id="notificationBadge" style="display: none;">!</div>
                        <div id="notificationModal" class="notification-modal"
                            style="display: none; position: absolute; top: 40px; left: -240px; background: #fff; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); z-index: 1000; width: 400px;">
                            <div style="padding: 15px;">
                                <h5 style="margin-bottom: 10px;">התראות</h5>
                                <hr class="section-divider">
                                <div id="notifications-list">
                                    <p>טוען התראות...</p>
                                </div>
                                <hr class="section-divider">
                                <button type="button" class="btn btn-sm btn-danger" style="margin-top: 10px;"
                                    onclick="closeNotifications()">סגור</button>
                            </div>
                        </div>
                    </div>
                    <div class="user" style="position: relative; display: inline-block;">
                        <a href="{{ url_for('users_bp_main.profile_page') }}">
                            <img id="userIcon" src="/static/img/user.png" alt="User Icon" height="30" width="30"
                                style="cursor: pointer;">
                        </a>
                    </div>


                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <!-- כפתור "בית" מותאם לפי role -->
                            {% if session['role'] == "manager" or session['role'] == "co_manager" %}
                            <a href="{{ url_for('manager_bp.manager_home_page') }}" class="nav-item nav-link">בית</a>
                            {% elif session['role'] == "employee" %}
                            <a href="{{ url_for('employee_bp.employee_home_page') }}" class="nav-item nav-link">בית</a>
                            {% elif session['role'] == "job_seeker" %}
                            <a href="{{ url_for('job_seeker_bp.job_seeker_home_page') }}"
                                class="nav-item nav-link">בית</a>
                            {% endif %}
                            <!-- Dropdown של דפים -->
                            <div class="nav-item dropdown position-relative">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">דפים</a>
                                <div class="dropdown-menu bg-light rounded-0 m-0">
                                    <a href="{{ url_for('plot_bp.track_greenhouse') }}" class="dropdown-item">מעקב
                                        חלקות/חממות</a>
                                    <a href='{{ url_for("plot_bp.archive") }}' class="dropdown-item">ארכיון
                                        חלקות/חממות</a>
                                    {% if session['role'] == "manager" or session['role'] == "co_manager" %}
                                    <a href="{{ url_for('manager_bp.get_employees_list') }}" class="dropdown-item">הצוות
                                        שלי</a>
                                    {% endif %}
                                    {% if session['role'] == "employee" %}
                                    <a href='/task/alltasks.html' class="dropdown-item">המשימות
                                        שלי</a>
                                    {% endif %}
                                </div>
                            </div>

                            <a href="{{ url_for('users_bp_main.about_us') }}" class="nav-item nav-link">מי אנחנו</a>
                            <a href="{{ url_for('users_bp_main.contact') }}" class="nav-item nav-link">צור קשר</a>
                        </div>
                    </div>
                    {% if session['role'] == "manager" or session['role'] == "co_manager" %}
                    <a href="{{ url_for('manager_bp.manager_home_page') }}" class="navbar-brand"> <img class="img-fluid"
                            src="/static/img/logo_growwise.png" alt="Logo"></a>
                    {% elif session['role'] == "employee" %}
                    <a href="{{ url_for('employee_bp.employee_home_page') }}" class="navbar-brand"><img
                            class="img-fluid" src="/static/img/logo_growwise.png" alt="Logo"></a>
                    {% elif session['role'] == "job_seeker" %}
                    <a href="{{ url_for('job_seeker_bp.job_seeker_home_page') }}" class="navbar-brand"><img
                            class="img-fluid" src="/static/img/logo_growwise.png" alt="Logo"></a>
                    {% endif %}
                    <div id="weather-info-short" class="d-flex align-items-center">
                        <img id="weather-icon" src="{{ weather_icon }}" alt="Weather Icon"
                            style="width: 24px; height: 24px; margin-right: 8px;">
                        <span>
                            <strong>{{ city }}</strong> - {{ temperature }}°C
                        </span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Main Content Start -->
    <hr class="section-divider">

    <div class="main-content">
        <!-- כותרת -->
        <h1>שלום, {{ name }}</h1>

        <!-- עלים -->
        <div class="leaf-container">
            <div class="leaf" onclick="navigateTo('track_greenhouse')">
                <img src="/static/img/leaf.png" alt="מעקב">
                <span>מעקב חלקות/חממות</span>
            </div>
            <div class="leaf" onclick="navigateTo('archive')">
                <img src="/static/img/leaf.png" alt="ארכיון">
                <span>ארכיון חלקות/חממות</span>
            </div>
            <div class="leaf" onclick="navigateTo('optimal_management')">
                <img src="/static/img/leaf.png" alt="ניהול">
                <span>ניהול חלקות אופטימלי</span>
            </div>
            <div class="leaf" onclick="navigateTo('reports')">
                <img src="/static/img/leaf.png" alt="דו" חות">
                <span>דו"חות</span>
            </div>
            <div class="leaf" onclick="navigateTo('team')">
                <img src="/static/img/leaf.png" alt="צוות">
                <span>הצוות שלי</span>
            </div>
            <div class="leaf" onclick="navigateTo('calculator')">
                <img src="/static/img/leaf.png" alt="מחשבון">
                <span>מחשבון הוצאות</span>
            </div>
            <div class="leaf" onclick="navigateTo('inventory')">
                <img src="/static/img/leaf.png" alt="מלאי">
                <span>אספקה ומלאי</span>
            </div>
            <div class="leaf" onclick="navigateTo('shop')">
                <img src="/static/img/leaf.png" alt="חנות">
                <span>חנות אונליין</span>
            </div>
        </div>
    </div>
    <!-- Main Content End -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

    <script src="/static/js/main.js"></script>
    <script>
        function navigateTo(page) {
            const urls = {
                'track_greenhouse': '{{ url_for("plot_bp.track_greenhouse") }}',
                'archive': '{{ url_for("plot_bp.archive") }}',
                'optimal_management': '#',
                'reports': '#',
                'team': '{{ url_for("manager_bp.get_employees_list") }}',
                'calculator': '#',
                'inventory': '#',
                'shop': '#'
            };

            if (urls[page]) {
                window.location.href = urls[page];
            }
        }
        function setSessionData() {
            fetch('/set_session_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: "{{ session.get('email') }}",
                    manager_email: "{{ session.get('manager_email') }}",
                    name: "{{ session.get('first_name') }} {{ session.get('last_name') }}",
                    role: "{{ session.get('role') }}"
                })
            }).catch(error => console.error('Error updating session:', error));
        }


        document.addEventListener("DOMContentLoaded", async function () {
            const shortWeatherDiv = document.getElementById("weather-info-short");

            try {
                const response = await fetch("/weather");
                if (!response.ok) {
                    throw new Error(`שגיאה בטעינת מזג האוויר: ${response.status}`);
                }

                const data = await response.json();

                // עדכון התצוגה הקצרה בסרגל הכלים
                shortWeatherDiv.innerHTML = `
                    <img src="${data.weather_icon}" alt="Weather Icon" style="width: 24px; height: 24px; margin-right: 8px;">
                    <strong>${data.city}</strong> ${data.temperature}°C
                `;
            } catch (error) {
                console.error("שגיאה בטעינת נתוני מזג האוויר:", error);
                shortWeatherDiv.innerHTML = `<p>שגיאה בטעינת נתוני מזג האוויר</p>`;
            }

        });
    </script>
</body>

</html>