<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>GrowWise</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">


    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Marcellus:wght@400&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                <div class="d-flex justify-content-between align-items-center w-100">
                    {% if session['role'] == "manager" or session['role'] == "co_manager" or session['role'] ==
                    "employee" or session['role'] == "job_seeker" %}
                    <div class="logout-icon" style="display: inline-block;">
                        <a href="#" onclick="logout(); return false;">
                            <img src="/static/img/logodoor.png" alt="Logout" height="30" width="30">
                        </a>
                    </div>
                    <div class="notification-icon" style="position: relative; display: inline-block;">
                        <img id="notificationIcon" src="/static/img/Notifications.png" alt="Notification Icon"
                            height="30" width="30" onclick="toggleNotifications()" style="cursor: pointer;">

                        <div id="notificationModal" class="notification-modal"
                            style="display: none; position: absolute; top: 40px; left: -240px; background: #fff; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); z-index: 1000; width: 400px;">
                            <div style="padding: 15px;">
                                <h5 style="margin-bottom: 10px;">התראות</h5>
                                <hr class="section-divider">
                                <div id="notifications-list">
                                    <p>טוען התראות...</p>
                                </div>
                                <hr class="section-divider">
                                <button type="button" class="btn btn-sm btn-danger" style="margin-top: 10px;"
                                    onclick="closeNotifications()">סגור</button>
                            </div>
                        </div>
                    </div>
                    <div class="user" style="position: relative; display: inline-block;">
                        <a href="{{ url_for('users_bp_main.profile_page') }}">
                            <img id="userIcon" src="/static/img/user.png" alt="User Icon" height="30" width="30"
                                style="cursor: pointer;">
                        </a>
                    </div>
                    {% endif %}

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <!-- כפתור "בית" מותאם לפי role -->
                            {% if session['role'] == "manager" or session['role'] == "co_manager" %}
                            <a href="{{ url_for('manager_bp.manager_home_page') }}" class="nav-item nav-link">בית</a>
                            {% elif session['role'] == "employee" %}
                            <a href="{{ url_for('employee_bp.employee_home_page') }}" class="nav-item nav-link">בית</a>
                            {% elif session['role'] == "job_seeker" %}
                            <a href="{{ url_for('job_seeker_bp.job_seeker_home_page') }}"
                                class="nav-item nav-link">בית</a>
                            {% else %}
                            <a href="{{ url_for('home') }}" class="nav-item nav-link">בית</a>
                            {% endif %}
                            <!-- Dropdown של דפים -->
                            {% if session['role'] == "manager" or session['role'] == "co_manager" or session['role'] ==
                            "employee" or session['role'] == "job_seeker" %}
                            <div class="nav-item dropdown position-relative">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">דפים</a>
                                <div class="dropdown-menu bg-light rounded-0 m-0">
                                    <a href="{{ url_for('plot_bp.track_greenhouse') }}" class="dropdown-item">מעקב
                                        חלקות/חממות</a>
                                    <a href='{{ url_for("plot_bp.archive") }}' class="dropdown-item">ארכיון
                                        חלקות/חממות</a>
                                    {% if session['role'] == "manager" or session['role'] == "co_manager" %}
                                    <a href="{{ url_for('manager_bp.get_employees_list') }}" class="dropdown-item">הצוות
                                        שלי</a>
                                    {% endif %}
                                    {% if session['role'] == "employee" %}
                                    <a href='/task/alltasks.html' class="dropdown-item">המשימות
                                        שלי</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            <a href="{{ url_for('users_bp_main.about_us') }}" class="nav-item nav-link">מי אנחנו</a>
                            <a href="contact.html" class="nav-item nav-link">צור קשר</a>
                        </div>
                    </div>
                    {% if session['role'] == "manager" or session['role'] == "co_manager" %}
                    <a href="{{ url_for('manager_bp.manager_home_page') }}" class="navbar-brand"> <img class="img-fluid"
                            src="/static/img/logo_growwise.png" alt="Logo"></a>
                    {% elif session['role'] == "employee" %}
                    <a href="{{ url_for('employee_bp.employee_home_page') }}" class="navbar-brand"><img
                            class="img-fluid" src="/static/img/logo_growwise.png" alt="Logo"></a>
                    {% elif session['role'] == "job_seeker" %}
                    <a href="{{ url_for('job_seeker_bp.job_seeker_home_page') }}" class="navbar-brand"><img
                            class="img-fluid" src="/static/img/logo_growwise.png" alt="Logo"></a>
                    {% else %}
                    <a href="{{ url_for('home') }}" class="navbar-brand"><img class="img-fluid"
                            src="/static/img/logo_growwise.png" alt="Logo"></a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <main class="main">

        <!-- Page Title -->
        <div class="page-title dark-background" data-aos="fade"
            style="background-image: url(/static/img/page-title-bg.webp);">
            <div class="container position-relative">
                <h1>Contact</h1>
                <p>
                    Home
                    /
                    Contact
                </p>
                <nav class="breadcrumbs">
                    <ol>
                        {% if session['role'] == "manager" or session['role'] == "co_manager" %}
                        <li><a href="{{ url_for('manager_bp.manager_home_page') }}">Home</a></li>
                        {% elif session['role'] == "employee" %}
                        <li><a href="{{ url_for('employee_bp.employee_home_page') }}">Home</a></li>
                        {% elif session['role'] == "job_seeker" %}
                        <li><a href="{{ url_for('job_seeker_bp.job_seeker_home_page') }}">Home</a></li>
                        {% else %}
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        {% endif %}
                        <li class="current">Contact</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <div class="mb-5">
                <iframe style="width: 100%; height: 400px;"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                    frameborder="0" allowfullscreen=""></iframe>
            </div><!-- End Google Maps -->

            <div class="container" data-aos="fade">

                <div class="row gy-5 gx-lg-5">

                    <div class="col-lg-4">

                        <div class="info">
                            <h3>תהיו בקשר</h3>
                            <p>לצצךצ</p>

                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h4>Location:</h4>
                                    <p>ישראל, באר שבע, דרום</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h4>Email:</h4>
                                    <p>GrowWiseWeb@gmail.com</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-phone flex-shrink-0"></i>
                                <div>
                                    <h4>Call:</h4>
                                    <p>+972 52-8744379</p>
                                </div>
                            </div><!-- End Info Item -->

                        </div>

                    </div>

                    <div class="col-lg-8">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="שם מלא"
                                        required="">
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="מייל"
                                        required="">
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="נושא"
                                    required="">
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" placeholder="גוף ההודעה"
                                    required=""></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">טוען</div>
                                <div class="error-message"></div>
                                <div class="sent-message">ההודעה נשלחה, תודה רבה!</div>
                            </div>
                            <div class="text-center"><button type="submit">שליחת הודעה</button></div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section><!-- /Contact Section -->

    </main>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-3 py-3 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-4">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-4">המשרד שלנו</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i> באר שבע, ישראל</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary me-3"></i> 52-8744379 972+ </p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>GrowWiseWeb@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>