<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>GrowWise</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="/static/img/favicon_v7.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- CSS של Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    {% include 'components/navbar.html' %}
    <!-- Navbar End -->

    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="title mb-0">מחשבון הוצאות</h1>
            <button onclick="goBack()" class="btn btn-primary">חזרה</button>
        </div>
        <hr class="section-divider ">
    </div>
    <div class="button-container" id="supp">
        <div class="leaf" onclick="openYieldPriceModal()">
            <img src="/static/img/yield.png">
            <span>הכנסת מחיר לק״ג תפוקה</span>
        </div>
        <div class="leaf" onclick="openWaterPriceModal()">
            <img src="/static/img/water.png">
            <span>הכנסת תעריף לקו״ב</span>
        </div>

        <div class="leaf" onclick="openFuelTypeModal()">
            <img src="/static/img/fual.png">
            <span>הוצאות תדלוק</span>
        </div>
    </div>

    <!-- מודל לבחירת סוג מים -->
    <div id="chooseWaterTypeForWaterModal" class="modal custom-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">בחר סוג מים</h5>
                    <button type="button" class="btn-close" onclick="closeChooseWaterTypeModal()"></button>
                </div>
                <div class="modal-body text-center">
                    <button class="btn btn-primary m-2" style="width: 200px; font-size: 20px;"
                        onclick="selectWaterTypeForWater('מים שפירים')">מים
                        שפירים</button>
                    <button class="btn btn-success m-2" style="width: 200px; font-size: 20px;"
                        onclick="selectWaterTypeForWater('מים מושבים')">מים
                        מושבים</button>
                </div>
            </div>
        </div>
    </div>


    <!-- מודל להזנת מחיר לקו״ב -->
    <div id="waterPriceModal" class="modal custom-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">הכנסת תעריף לקו״ב</h5>
                    <button type="button" class="btn-close" onclick="closeWaterPriceModal()"></button>
                </div>
                <div id="currentWaterPriceBox" class="alert alert-info mt-2" style="display: none;">
                    <strong id="currentWaterPriceLabel">תעריף נוכחי:</strong><span id="currentWaterPriceValue"> </span>
                    ₪
                </div>

                <div class="modal-body">
                    <label for="waterPrice">מחיר לקו״ב:</label>
                    <input type="number" id="waterPrice" class="form-control" min="0.01" step="0.01" required>

                    <label for="waterDate">תאריך:</label>
                    <input type="date" id="waterDate" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary custom-btn" onclick="saveWaterPrice()">שמירה</button>
                    <button type="button" class="btn btn-secondary custom-btn"
                        onclick="closeWaterPriceModal()">סגור</button>
                </div>
            </div>
        </div>
    </div>
    <!-- חלון הכנסת מחיר לק״ג תפוקה -->
    <div id="yieldPriceModal" class="modal custom-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">הכנסת מחיר לק״ג תפוקה</h5>
                    <button type="button" class="btn-close" onclick="closeYieldPriceModal()"></button>
                </div>
                <div class="modal-body">
                    <label for="plotName">שם החלקה:</label>
                    <select id="plotName" class="form-control" onchange="fetchHarvestDates()">
                        <option value="">בחר חלקה</option>
                    </select>
                    <label for="sowDate">תאריך קצירה:</label>
                    <select id="harvestDate" class="form-control">
                        <option value="">בחר תאריך</option>
                    </select>
                    <label for="crop">יבול:</label>
                    <input type="text" id="crop" class="form-control" readonly>

                    <label for="cropYield">כמה נקצר:</label>
                    <input type="number" id="cropYield" class="form-control" readonly>

                    <label for="pricePerKg">מחיר לק״ג (מכירה):</label>
                    <input type="number" id="pricePerKg" class="form-control" min="0.01" step="0.01" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary custom-btn" onclick="saveYieldPrice()">שמור</button>
                    <button type="button" class="btn btn-secondary custom-btn"
                        onclick="closeYieldPriceModal()">סגור</button>
                </div>
            </div>
        </div>
    </div>
    <div id="fuelTypeModal" class="modal">
        <div class="modal-content">
            <button class="close-btn" onclick="closeFuelTypeModal()">X</button>
            <h5>בחר סוג תדלוק</h5>
            <div class="button-container">
                <button onclick="openRefuelModal('דלקן')">דלקן</button>
                <button onclick="openRefuelModal('ידני')">ידני</button>
            </div>
        </div>
    </div>


    <div id="fuelEntryForm" class="modal">
        <div class="modal-content">
            <button class="close-btn" onclick="closeRefuelModal()">X</button>
            <h5>הוסף הוצאות תדלוק</h5>
            <input type="hidden" id="refuelType">
            <label>מספר רכב:</label>
            <select id="vehicleNumber"></select>
            <div id="dateField">
                <label>תאריך:</label>
                <input type="date" id="refuelDate">
            </div>
            <div id="monthField" style="display:none;">
                <label>חודש:</label>
                <select id="month" class="form-control">
                    <option value="">בחר חודש</option>
                    <option value="01">ינואר</option>
                    <option value="02">פברואר</option>
                    <option value="03">מרץ</option>
                    <option value="04">אפריל</option>
                    <option value="05">מאי</option>
                    <option value="06">יוני</option>
                    <option value="07">יולי</option>
                    <option value="08">אוגוסט</option>
                    <option value="09">ספטמבר</option>
                    <option value="10">אוקטובר</option>
                    <option value="11">נובמבר</option>
                    <option value="12">דצמבר</option>
                </select>
            </div>
            <label>כמות דלק:</label>
            <input type="number" id="fuelAmount">
            <label>עלות:</label>
            <input type="number" id="cost">
            <div class="modal-footer">
                <button class="btn btn-secondary" onclick="closeRefuelModal()">סגור</button>
                <button class="btn btn-primary" onclick="saveFuelExpense()">שמור</button>
            </div>
        </div>
    </div>


    <div id="customAlert" class="alert-box" style="display:none;">
        <h5 class="alert-title">כותרת</h5>
        <p class="alert-message">הודעה</p>
        <button class="alert-close btn btn-primary" onclick="closeAlert()">סגור</button>
    </div>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>

    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <!-- טעינת Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/supply.js"></script>
    <script src="/static/js/water.js"></script>
    <script src="/static/js/fuel.js"></script>
    <script src="/static/js/vehicles.js"></script>
    <script src="/static/js/yield_price.js"></script>

    <script>

        document.addEventListener("DOMContentLoaded", async function () {
            //מזג אוויר
            const shortWeatherDiv = document.getElementById("weather-info-short");

            try {
                const response = await fetch("/weather");
                if (!response.ok) {
                    throw new Error(`שגיאה בטעינת מזג האוויר: ${response.status}`);
                }

                const data = await response.json();

                // עדכון התצוגה הקצרה בסרגל הכלים
                shortWeatherDiv.innerHTML = `
                <img src="${data.weather_icon}" alt="Weather Icon" style="width: 24px; height: 24px; margin-right: 8px;">
                <strong>${data.city}</strong> ${data.temperature}°C
            `;
            } catch (error) {
                console.error("שגיאה בטעינת נתוני מזג האוויר:", error);
                shortWeatherDiv.innerHTML = `<p>שגיאה בטעינת נתוני מזג האוויר</p>`;
            }
        });
        function goBack() {
            if (document.referrer) {
                window.history.back();
            } else {
                window.location.href = "{{ url_for('home') }}";
            }
        }
        function showAlert(title, message, options = {}) {
            const { redirectUrl = null, isSuccess = false, restoreForm = false, formId = null, modalId = null } = options;
            const alertBox = document.getElementById("customAlert");
            alertBox.querySelector(".alert-title").textContent = title;
            alertBox.querySelector(".alert-message").textContent = message;
            alertBox.style.display = "block";
            alertBox.classList.add("fade-in");
            // שמירת מידע במידת הצורך לשימוש מאוחר יותר
            if (restoreForm && formId && modalId) {
                const form = document.getElementById(formId);
                if (form) {
                    window.lastFormData = new FormData(form); // שמירת נתוני הטופס
                    window.lastModalId = modalId; // שמירת מזהה החלון
                }
            }

            // הגדרת פעולה בהתבסס על סוג ההודעה (הצלחה או שגיאה)
            const closeButton = alertBox.querySelector(".alert-close");
            closeButton.onclick = () => closeAlert({ redirectUrl, isSuccess });
        }

        function closeAlert({ redirectUrl = null, isSuccess = false } = {}) {
            const alertBox = document.getElementById("customAlert");
            alertBox.classList.remove("fade-in");
            alertBox.style.display = "none";

            if (isSuccess) {
                // במקרה של הצלחה
                if (redirectUrl) {
                    window.location.href = redirectUrl; // מפנה לכתובת URL
                } else {
                    location.reload(); // רענון הדף
                }
            } else {
                // במקרה של שגיאה: שחזור הטופס והחלון
                if (window.lastFormData && window.lastModalId) {
                    const modal = document.getElementById(window.lastModalId);
                    const form = document.getElementById('plotForm');

                    // שחזור נתוני הטופס
                    if (form && window.lastFormData) {
                        for (const [name, value] of window.lastFormData.entries()) {
                            const field = form.elements[name];
                            if (field) {
                                field.value = value;
                            }
                        }
                    }

                    // פתיחת החלון
                    if (modal) {
                        modal.style.display = "flex";
                    }
                }
            }
        }

    </script>
</body>

</html>