<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>GrowWise</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- CSS של Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                <div class="d-flex justify-content-between align-items-center w-100">

                    <!-- כפתור תפריט למובייל -->
                    <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                        <span class="menu-text ms-2">תפריט</span>
                    </button>

                    {% if session['role'] == "manager" or session['role'] == "co_manager" %}
                    <a href="{{ url_for('manager_bp.manager_home_page') }}" class="navbar-brand">
                        <img class="img-fluid" src="/static/img/logo_growwise.png" alt="Logo">
                    </a>
                    {% elif session['role'] == "employee" %}
                    <a href="{{ url_for('employee_bp.employee_home_page') }}" class="navbar-brand">
                        <img class="img-fluid" src="/static/img/logo_growwise.png" alt="Logo">
                    </a>
                    {% elif session['role'] == "job_seeker" %}
                    <a href="{{ url_for('job_seeker_bp.job_seeker_home_page') }}" class="navbar-brand">
                        <img class="img-fluid" src="/static/img/logo_growwise.png" alt="Logo">
                    </a>
                    {% else %}
                    <a href="{{ url_for('home') }}" class="navbar-brand">
                        <img class="img-fluid" src="/static/img/logo_growwise.png" alt="Logo">
                    </a>
                    {% endif %}
                    <!-- תפריט ניווט (דסקטופ ומובייל) -->
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            {% if session['role'] %}
                            <!-- אם המשתמש מחובר -->
                            <div class="d-none d-lg-flex align-items-center">
                                <div class="logout-icon me-3">
                                    <a href="#" onclick="logout(); return false;">
                                        <img src="/static/img/logodoor.png" alt="Logout" height="30" width="30">
                                    </a>
                                </div>
                                <div class="notification-icon me-3">
                                    <img id="notificationIcon" src="/static/img/Notifications.png"
                                        alt="Notification Icon" height="30" width="30" onclick="toggleNotifications()"
                                        style="cursor: pointer;">
                                    <div class="notification-badge" id="notificationBadge" style="display: none;">!
                                    </div>
                                    <div id="notificationModal" class="notification-modal"
                                        style="display: none; position: absolute; top: 40px; left: -240px; background: #fff; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); z-index: 1000; width: 400px;">
                                        <div style="padding: 15px;">
                                            <h5 style="margin-bottom: 10px;">התראות</h5>
                                            <hr class="section-divider">
                                            <div id="notifications-list">
                                                <p>טוען התראות...</p>
                                            </div>
                                            <hr class="section-divider">
                                            <button type="button" class="btn btn-sm btn-danger"
                                                style="margin-top: 10px;" onclick="closeNotifications()">סגור</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="user me-3">
                                    <a href="{{ url_for('users_bp_main.profile_page') }}">
                                        <img id="userIcon" src="/static/img/user.png" alt="User" height="30" width="30">
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            <!--כפתור ״בית״-->
                            {% if session['role'] == "manager" or session['role'] == "co_manager" %}
                            <a href="{{ url_for('manager_bp.manager_home_page') }}" class="nav-item nav-link">בית</a>
                            {% elif session['role'] == "employee" %}
                            <a href="{{ url_for('employee_bp.employee_home_page') }}" class="nav-item nav-link">בית</a>
                            {% elif session['role'] == "job_seeker" %}
                            <a href="{{ url_for('job_seeker_bp.job_seeker_home_page') }}"
                                class="nav-item nav-link">בית</a>
                            {% else %}
                            <a href="{{ url_for('home') }}" class="nav-item nav-link">בית</a>
                            {% endif %}
                            <!--כפתור ״דפים״-->
                            {% if session['role'] == "manager" or session['role'] == "co_manager" or
                            session['role'] == "employee"%} <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">דפים</a>
                                <div class="dropdown-menu bg-light rounded-0 m-0">
                                    <a href="{{ url_for('plot_bp.track_greenhouse') }}" class="dropdown-item">מעקב
                                        חלקות</a>

                                    {% if session['role'] == "employee" %}
                                    <a href="{{ url_for('attendance_bp.report_attendance_page') }}"
                                        class="dropdown-item">דיווח נוכחות</a>
                                    <a href="{{ url_for('manager_bp.get_employees_list') }}"
                                        class="dropdown-item">המשימות שלי</a>

                                    {% elif session['role'] == "manager" or session['role'] == "co_manager" %}
                                    <a href="{{ url_for('plot_bp.archive') }}" class="dropdown-item">ארכיון</a>
                                    <a href="{{ url_for('manager_bp.get_employees_list') }}" class="dropdown-item">הצוות
                                        שלי</a>
                                    <a href='/task/alltasks.html' class="dropdown-item">כל המשימות</a>
                                    <a href="{{url_for('attendance_bp.attendance_manager_page')}}"
                                        class="dropdown-item">נוכחות עובדים</a>
                                    <a href="{{ url_for('supply_bp.supply_inventory') }}" class="dropdown-item">מלאי
                                        ואספקה</a>
                                    <a href="{{ url_for('manager_bp.expense_page') }}" class="dropdown-item">מחשבון
                                        הוצאות</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            <!-- 🏠 לכל המשתמשים -->
                            <a href="{{ url_for('users_bp_main.about_us') }}" class="nav-item nav-link">מי אנחנו</a>
                            <a href="{{ url_for('users_bp_main.contact') }}" class="nav-item nav-link">צור קשר</a>
                            {% if session['role'] %}
                            <div class="d-lg-none mt-3">
                                <div class="nav-item">
                                    <a href="#" onclick="toggleNotifications()" class="nav-link">התראות</a>
                                </div>
                                <div class="nav-item">
                                    <a href="{{ url_for('users_bp_main.profile_page') }}" class="nav-link">הפרופיל
                                        שלי</a>
                                </div>

                                <div class="nav-item">
                                    <a href="#" onclick="logout(); return false;" class="nav-link">התנתק</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if session['role'] %}
                    <div id="weather-info-short" class="d-flex align-items-center">
                        <img id="weather-icon" src="{{ weather_icon }}" alt="Weather Icon"
                            style="width: 24px; height: 24px; margin-right: 8px;">
                        <span>
                            <strong>{{ city }}</strong> - {{ temperature }}°C
                        </span>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <hr class="section-divider ">
    <!-- Main Content Start -->
    <div class="container mb-2">
        <!-- כותרת -->
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="title">שלום, {{ first_name }}</h1>
        </div>
        <!-- עלים -->
        <div class="leaf-container">
            <div class="leaf" onclick="navigateTo('track_greenhouse')">
                <img src="/static/img/leaf.png" alt="מעקב">
                <span>מעקב חלקות/חממות</span>
            </div>
            <div class="leaf" onclick="navigateTo('archive')">
                <img src="/static/img/leaf.png" alt="ארכיון">
                <span>ארכיון חלקות/חממות</span>
            </div>
            <div class="leaf" onclick="navigateTo('optimal_management')">
                <img src="/static/img/leaf.png" alt="ניהול">
                <span>ניהול חלקות אופטימלי</span>
            </div>
            <div class="leaf" onclick="navigateTo('reports')">
                <img src="/static/img/leaf.png" alt="דו" חות">
                <span>דו"חות</span>
            </div>
            <div class="leaf" onclick="navigateTo('team')">
                <img src="/static/img/leaf.png" alt="צוות">
                <span>הצוות שלי</span>
            </div>
            <div class="leaf" onclick="navigateTo('calculator')">
                <img src="/static/img/leaf.png" alt="מחשבון">
                <span>מחשבון הוצאות</span>
            </div>
            <div class="leaf" onclick="navigateTo('inventory')">
                <img src="/static/img/leaf.png" alt="מלאי">
                <span>לוגיסטיקה וניהול</span>
            </div>
            <div class="leaf" onclick="navigateTo('jobs')">
                <img src="/static/img/leaf.png" alt="חנות">
                <span>רשת חברתית לפרסום משרות</span>
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>

    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <!-- טעינת Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/static/js/main.js"></script>
    <script>
        function navigateTo(page) {
            const urls = {
                'track_greenhouse': '{{ url_for("plot_bp.track_greenhouse") }}',
                'archive': '{{ url_for("plot_bp.archive") }}',
                'optimal_management': '#',
                'reports': '#',
                'team': '{{ url_for("manager_bp.get_employees_list") }}',
                'calculator': '{{ url_for("manager_bp.expense_page") }}',
                'inventory': '{{ url_for("manager_bp.logistic_management") }}',
                'jobs': '{{ url_for("posts_bp.social_feed") }}'
            };

            if (urls[page]) {
                window.location.href = urls[page];
            }
        }

        document.addEventListener("DOMContentLoaded", async function () {
            //מזג אוויר
            const shortWeatherDiv = document.getElementById("weather-info-short");

            try {
                const response = await fetch("/weather");
                if (!response.ok) {
                    throw new Error(`שגיאה בטעינת מזג האוויר: ${response.status}`);
                }

                const data = await response.json();

                // עדכון התצוגה הקצרה בסרגל הכלים
                shortWeatherDiv.innerHTML = `
                    <img src="${data.weather_icon}" alt="Weather Icon" style="width: 24px; height: 24px; margin-right: 8px;">
                    <strong>${data.city}</strong> ${data.temperature}°C
                `;
            } catch (error) {
                console.error("שגיאה בטעינת נתוני מזג האוויר:", error);
                shortWeatherDiv.innerHTML = `<p>שגיאה בטעינת נתוני מזג האוויר</p>`;
            }
        });


    </script>

</body>

</html>