<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>GrowWise</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/img/favicon_v7.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
        rel="stylesheet">

    <!-- CSS של Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- CSS Libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/media.css" rel="stylesheet">

</head>

<body>
    <!-- Navbar Start -->
    {% include 'components/navbar.html' %}
    <!-- Navbar End -->
    <div class="container">
        <div class="container d-flex justify-content-between align-items-center mt-1">
            <div class="d-flex align-items-center gap-2">
                <h1 class="title mb-0">ניהול חלקות וחממות</h1>
                <button id="helpButton" class="btn help-btn" title="הסבר על העמוד">
                    <i class="bi bi-question-circle-fill fs-4"></i>
                </button>
            </div>
            {% if session['role'] == "manager" or session['role'] == "co_manager" %}
            <a href="{{ url_for('manager_bp.manager_home_page') }}" class="btn btn-primary">חזרה</a>
            {% elif session['role'] == "employee" %}
            <a href="{{ url_for('employee_bp.employee_home_page') }}" class="btn btn-primary">חזרה</a>
            {% endif %}
        </div>
        <hr class="section-divider">
    </div>

    <!-- Sub toolbar-->
    <div id="subToolbarWrapper" class="container-fluid bg-white secondary-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                <!-- Button adding new plot-->
                <button id="addPlotButton" class="btn button-circle">
                    <img src="/static/img/plus_icon.png" alt="הוסף חלקה/חממה">
                </button>
                <!-- Layout switch button -->
                <div class="view">
                    <span class="me-1">פריסת דף</span>
                    <div id="toggleViewButton" class="toggle-button" style="cursor: pointer;">
                        <div class="toggle-circle"></div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container mt-3 plots-container">
        <div id="plotsContainer">
            <!--Show all plots-->
        </div>
    </div>

    <!--Plot type selection window -->
    <div id="selectTypeModal" class="modal select-plot" onclick="closeModal(event, 'selectTypeModal')">
        <div class="modal-dialog" onclick="event.stopPropagation()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">בחר סוג חלקה</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                        onclick="closeModal(null, 'selectTypeModal')"></button>
                </div>
                <div class="modal-body">
                    <button class="btn btn-secondary" onclick="openPlotForm('חלקה')">חלקה</button>
                    <button class="btn btn-secondary" onclick="openPlotForm('חממה')">חממה</button>
                </div>
            </div>
        </div>
    </div>


    <!-- New modal after plot type selection -->
    <div id="plotChoiceModal" class="modal select-plot" style="display: none;"
        onclick="closeModal(event, 'plotChoiceModal')">
        <div class="modal-dialog" onclick="event.stopPropagation()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">האם זו חלקה חדשה או קיימת?</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                        onclick="closeModal(null, 'plotChoiceModal')"></button>
                </div>
                <div class="modal-body">
                    <button class="btn btn-secondary" id="newPlotBtn">חלקה/חממה חדשה</button>
                    <button class="btn btn-secondary" id="existingPlotBtn">חלקה/חממה קיימת</button>
                </div>
            </div>
        </div>
    </div>

    <!--Adding new plots -->
    <div id="plotFormModal" class="modal plots">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">הגדרת חממה/חלקה</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                        onclick="closeModal(null, 'plotFormModal')"></button>
                </div>
                <div class="modal-body">
                    <form id="plotForm">
                        <input type="hidden" id="plotType" name="plot_type">
                        <div class="mb-3">
                            <label for="plotName" class="form-label">שם החלקה</label>
                            <input type="text" id="plotName" name="plot_name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="squareMeters" class="form-label">גודל בדונם</label>
                            <input type="number" id="squareMeters" name="square_meters" class="form-control" min="1"
                                required>
                        </div>
                        <input type="hidden" id="cropCategory" name="crop_category">

                        <div class="mb-3" id="cropDiv" style="display: none;">
                            <label for="crop" class="form-label">גידול</label>
                            <select id="crop" name="crop" class="form-select">
                                <option value="none">ללא</option>
                            </select>
                        </div>
                        <div class="mb-3" id="sowDateDiv" style="display: none;">
                            <label for="sowDate" class="form-label">תאריך זריעה</label>
                            <input type="date" id="sowDate" name="sow_date" class="form-control">
                        </div>
                        <div class="mb-3" id="quantityPlantedDiv" style="display: none;">
                            <label for="quantityPlanted" class="form-label">כמה זרעתי (בק״ג)</label>
                            <input type="number" id="quantityPlanted" name="quantity_planted" class="form-control"
                                min="0" step="0.01">
                        </div>
                        <div class="mb-3" id="irrigationWaterTypeDiv" style="display: none;">
                            <label for="irrigationWaterType" class="form-label">סוג מי השקייה</label>
                            <select id="irrigationWaterType" name="irrigation_water_type" class="form-select">
                                <option value="none">בחר סוג מים</option>
                                <option value="מים שפירים">מים שפירים</option>
                                <option value="מים מושבים">מים מושבים</option>
                                <option value="משולב">משולב</option>
                            </select>
                        </div>
                        <div class="mb-3" id="kosherDiv" style="display:none;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="kosherRequired"
                                    name="kosher_required">
                                <label class="form-check-label" for="kosherRequired">
                                    דרוש אישור שתילה על ידי משגיח כשרות?
                                </label>
                            </div>
                            <div id="kosherFileDiv" style="display:none;" class="mt-2">
                                <label for="kosherCertificate">צרף קובץ אישור (PDF/DOC)</label>
                                <input type="file" id="kosherCertificate" name="kosher_certificate"
                                    accept=".pdf,.doc,.docx" class="form-control">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" onclick="savePlot()">שמירה</button>
                            <button type="button" class="btn btn-secondary" onclick="closePlotForm()">סגירה</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <!-- Single layout view -->
    <div id="singleView" class="single-view mt-1 text-center">
        <div class="plot-circle mx-auto mt-1">
            <a id="plotDetailsLink" href="#">
                <img id="plotImage" src="" alt="תמונה">
            </a>
        </div>
        <h1 id="plotTitle" class="fw-bold mb-2"></h1>
        <hr class="section-divider" style="width: 280px; margin-right: 495px;">
        <div
            class="navigation-container d-flex align-items-center justify-content-center gap-3 flex-wrap flex-md-nowrap mt-4">

            <button id="prevButton" class="btn btn-light rounded-circle">
                <i class="bi bi-chevron-left"></i>
            </button>
            <!-- הפרטים מתחת לתמונה -->
            <div id="plotDetails" class="text-center mx-auto">
                <p><strong>צורת גידול: </strong> <span id="plottype"></span></p>
                <p><strong>גודל(דונם): </strong> <span id="squareMetersDisplay"></span></p>
                <p><strong>גידול: </strong> <span id="plotCrop"></span></p>
                <p><strong>תאריך זריעה: </strong> <span id="sowdate"></span></p>
                <p><strong>סוג מים להשקייה:</strong> <span id="irrigationWaterTypeDisplay"></span></p>
                <p><strong>תאריך השקיה אחרון: </strong> <span id="lastIrrigationDate"></span></p>
                <p><strong>כמות השקיה כוללת: </strong> <span id="totalIrrigationAmount"></span></p>
                <p><strong>דרוש אישור כשרות:</strong> <span id="kosherrequired"></span></p>
                <p><strong>אישור כשרות:</strong> <span id="koshercertificate"></span></p>
            </div>
            <button id="nextButton" class="btn btn-light rounded-circle">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>

    <!-- Help Modal -->
    <div id="helpModal" class="modal video-help" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">הסבר על עמוד מעקב החלקות והחממות</h5>
                    <button type="button" class="btn-close" onclick="closeHelpModal()"></button>
                </div>
                <div class="modal-body text-end">
                    <p style="margin-bottom: 15px;">בסרטון הבא תקבל הסבר מהיר על השימוש בדף זה.</p>
                    <video controls style="width: 100%; border-radius: 8px;">
                        <source src="/static/video/Track_Greenhouse.mp4" type="video/mp4">
                        הדפדפן שלך לא תומך בניגון וידאו.
                    </video>
                </div>
            </div>
        </div>
    </div>

    <!-- Alert window -->
    <div id="customAlert" class="alert-box" style="display:none;">
        <h5 class="alert-title">כותרת</h5>
        <p class="alert-message">הודעה</p>
        <button class="alert-close btn btn-primary" onclick="closeAlert()">סגור</button>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>

    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <!-- טעינת Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/supply.js"></script>

    <script>

        document.getElementById('addPlotButton').addEventListener('click', () => {
            document.getElementById('selectTypeModal').style.display = 'flex';
        });


        async function loadCrops() {
            const cropCategory = document.getElementById('cropCategory').value;
            const cropSelect = document.getElementById('crop');
            const cropDiv = document.getElementById('cropDiv');
            const sowDateDiv = document.getElementById('sowDateDiv');

            if (cropCategory === "none") {
                cropDiv.style.display = 'none';
                sowDateDiv.style.display = 'none';
                cropSelect.innerHTML = '<option value="none">ללא</option>';
                return;
            }

            try {
                const response = await fetch(`/Plots/get_crops?category=${cropCategory}`);
                if (!response.ok) {
                    throw new Error(`שגיאה בטעינת הגידולים: ${response.status}`);
                }

                const data = await response.json();
                cropSelect.innerHTML = '<option value="none">ללא</option>';

                data.crops.forEach(crop => {
                    const option = document.createElement('option');
                    option.value = crop;
                    option.textContent = crop;
                    cropSelect.appendChild(option);
                });

                cropDiv.style.display = 'block';

                cropSelect.addEventListener('change', () => {
                    if (cropSelect.value !== 'none') {
                        sowDateDiv.style.display = 'block';
                    } else {
                        sowDateDiv.style.display = 'none';
                    }
                });
            } catch (error) {
                console.error(error.message);
                showAlert("שגיאה", "שגיאה בטעינת הגידולים מהשרת.");
            }
        }

        function closeModal(event, modalId) {
            const modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'none';
            }
        }


        let currentView = "multiple";
        const toggleButton = document.getElementById("toggleViewButton");
        const multipleView = document.querySelector(".plots-container");
        const singleView = document.getElementById("singleView");

        toggleButton.addEventListener("click", () => {
            toggleButton.classList.toggle("active");
            if (currentView === "multiple") {
                currentView = "single";
                multipleView.style.display = "none";
                singleView.style.display = "block";
                updateSingleView();
            } else {
                currentView = "multiple";
                multipleView.style.display = "block";
                singleView.style.display = "none";
            }
        });

        document.getElementById("prevButton").addEventListener("click", () => {
            currentPlotIndex = (currentPlotIndex - 1 + plots.length) % plots.length;
            updateSingleView();
        });

        document.getElementById("nextButton").addEventListener("click", () => {
            currentPlotIndex = (currentPlotIndex + 1) % plots.length;
            updateSingleView();
        });


        document.addEventListener("DOMContentLoaded", loadPlots);
        document.addEventListener("DOMContentLoaded", async function () {
            const shortWeatherDiv = document.getElementById("weather-info-short");

            try {
                const response = await fetch("/weather");
                if (!response.ok) {
                    throw new Error(`שגיאה בטעינת מזג האוויר: ${response.status}`);
                }

                const data = await response.json();

                shortWeatherDiv.innerHTML = `
                    <img src="${data.weather_icon}" alt="Weather Icon" style="width: 24px; height: 24px; margin-right: 8px;">
                    <strong>${data.city}</strong> ${data.temperature}°C
                `;
            } catch (error) {
                console.error("שגיאה בטעינת נתוני מזג האוויר:", error);
                shortWeatherDiv.innerHTML = `<p>שגיאה בטעינת נתוני מזג האוויר</p>`;
            }

        });
        document.addEventListener("DOMContentLoaded", function () {
            let sowDateInput = document.getElementById('sowDate');
            let quantityPlantedInput = document.getElementById('quantityPlanted');

            if (sowDateInput) {
                sowDateInput.addEventListener('input', () => {
                    if (quantityPlantedInput) {
                        quantityPlantedInput.disabled = !sowDateInput.value;
                    }
                });
            } else {
                console.error("❌ שגיאה: השדה sowDate לא נמצא");
            }
        });
        document.getElementById('sowDate').addEventListener('input', () => {
            const sowDate = document.getElementById('sowDate').value;
            const quantityPlantedDiv = document.getElementById('quantityPlantedDiv');
            const saveButton = document.getElementById('saveButton');

            if (sowDate) {
                quantityPlantedDiv.style.display = 'block';
            } else {
                quantityPlantedDiv.style.display = 'none';
                saveButton.disabled = true;
            }
        });

        document.getElementById('quantityPlanted').addEventListener('input', () => {
            const quantityPlanted = document.getElementById('quantityPlanted').value;
            const saveButton = document.getElementById('saveButton');

            saveButton.disabled = !quantityPlanted;
        });

        function showAlert(title, message, options = {}) {
            const { redirectUrl = null, isSuccess = false, restoreForm = false, formId = null, modalId = null } = options;
            const alertBox = document.getElementById("customAlert");
            alertBox.querySelector(".alert-title").textContent = title;
            alertBox.querySelector(".alert-message").textContent = message;
            alertBox.style.display = "block";
            alertBox.classList.add("fade-in");
            if (restoreForm && formId && modalId) {
                const form = document.getElementById(formId);
                if (form) {
                    window.lastFormData = new FormData(form);
                    window.lastModalId = modalId;
                }
            }

            const closeButton = alertBox.querySelector(".alert-close");
            closeButton.onclick = () => closeAlert({ redirectUrl, isSuccess });
        }

        function closeAlert({ redirectUrl = null, isSuccess = false } = {}) {
            const alertBox = document.getElementById("customAlert");
            alertBox.classList.remove("fade-in");
            alertBox.style.display = "none";

            if (isSuccess) {
                if (redirectUrl) {
                    window.location.href = redirectUrl;
                } else {
                    location.reload();
                }
            } else {
                if (window.lastFormData && window.lastModalId) {
                    const modal = document.getElementById(window.lastModalId);
                    const form = document.getElementById('plotForm');

                    if (form && window.lastFormData) {
                        for (const [name, value] of window.lastFormData.entries()) {
                            const field = form.elements[name];
                            if (field) {
                                field.value = value;
                            }
                        }
                    }

                    if (modal) {
                        modal.style.display = "flex";
                    }
                }
            }
        }

    </script>
</body>

</html>